@text-color-main: #555;

@bgColorDefault: #f7f7f7;
@bgColorNew: #e9f9ff;
@bgColorUnread: #EEF8F9;
@borderColorUnread: #EEF8F9;

@radius: 10px;
@radiusMiddle: 7px;
@radiusSmall: 4px;
@radiusRound: 50%;
@radiusNone: 0;

@smallScreen: 767px;

.semiBold() {font-weight: 600}

.placeholder {
  color: #77777A;
}

#dropdown-messages {
  .dropdown-header {
    margin-bottom: 12px;
  }
  &.dropdown-menu {
    li {
      a {
        font-size: inherit !important;
        font-weight: inherit !important;
      }
    }
  }
}

.modal-body {
  #createmessage-message {
    .ProseMirror {
      min-height: 100px !important;
    }
  }
}

.media-list {
  li.new {
    background-color: @bgColorNew;
  }
}

#create-message-button {
  position: absolute;
  top: 0;
  right: 10px;
  padding: 5px 10px;
}

#conversation-filter-link {
  padding-left: 0;
  display: block;
  padding-bottom: 0;
}
#conversation-tags-root {
  border-bottom: 1px solid #eee;
  .my-tags-label {
    padding-right: 10px;
  }
}
.conversation-menu {
  display: none;
  .time {
    color: inherit;
    text-transform: none;
  }
  .badge {
    background-color: @bgColorDefault;
    border-radius: @radius;
    color: inherit;
  }
  .conversation-edit-button {
    background-color: @bgColorDefault;
    border-radius: @radiusRound;
    color: inherit;
    &:hover {
      background-color: @bgColorDefault;
      color: inherit;
    }
  }
}
.visible-xs {
  .conversation-menu {
    padding-left: 35px;
    .conversation-menu-item {
      margin-bottom: 10px;
    }
  }
}
.conversation-menu-item {
  margin-left: 5px;
  a {
    cursor: pointer;
  }
}
.conversation-edit-button {
  border-bottom-right-radius: @radiusNone;
  border-top-right-radius: @radiusNone;
}
.conversation-scroll-down-button {
  position: absolute;
  bottom: 58px;
  right: 25px;
  width: 38px;
  height: 38px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 1px 1px 2px #999;
  .fa {
    font-size: 26px;
    margin: 7px 0 0 11px;
  }
}
.conversation-entry-list {
  max-height: 600px;
  min-height: 150px;
  overflow: auto;
  .media {
    padding-right: 5px;
  }
}
.conversation-entry-content {
  display: table;
  float: left;
  background-color: @bgColorDefault;
  border-radius: @radius;
  padding: 10px;
  max-width: 70%;
  pre {
    max-width: 485px;
  }
  &.own {
    float: right;
  }
  .markdown-render {
    float: left;
    width: 100%;
  }
}
.conversation-blocked-recipient {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

#mail-conversation-root {
  hr {
    border-top: 1px solid #eee;
  }
  .ProsemirrorEditor.focusMenu {
    .ProseMirror-menubar {
      margin-top: -0;
    }
  }
  .panel-body {
    margin-bottom: 0;
  }
}
#mail-conversation-header {
  padding: 18px;
  border-bottom: 1px solid #d7d7d7;
  border-bottom-left-radius: @radiusNone;
  border-bottom-right-radius: @radiusNone;
  h1 {
    .semiBold;
    font-size: 22px;
    display: inline-block;
  }
  small {
    display: block;
    font-size: 11px;
    font-weight: normal;
    a {
      color: @text-color-main;
    }
  }
}
#conversation-settings-button {
  padding: 6px;
  font-size: 12px;
}
#mail-filter-root {
  margin-top: 15px;
}
#mail-conversation-overview {
  .media {
    margin-top: 0;
  }
}
.mail-message-form {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  .humhub-ui-richtext {
    padding-right: 45px;
    border-radius: @radius;
  }
  .reply-button {
    position: absolute;
    right: 15px;
    bottom: 15px;
    z-index: 500;
    border-radius: @radiusSmall;
  }
  .help-block {
    margin: 0;
  }
  .alert {
    margin-bottom: 0;
  }
}
.mail-conversation-entry {
  margin-top: 3px;
  position: relative;
  .author-image {
    img {
      max-width: 100%;
    }
  }
  .author-label {
    font-size: 10px;
    .semiBold;
  }
  &.hideUserInfo {
    .author-label {
      display: none;
    }
    .author-image {
      img {
        visibility: hidden;
        margin-top: 0;
      }
    }
  }
  &.own {
    .conversation-menu-item {
      float: right;
      margin-left: 0;
      margin-right: 5px;
    }
  }
  .conversation-entry-time {
    float: right;
    font-size: 10px;
    color: @text-color-main;
    > span {
      font-style: italic;
    }
  }
}
.conversation-entry-badge {
  padding: 10px 0 15px;
  text-align: center;
  span {
    display: inline-block;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: @radiusMiddle;
    padding: 5px 20px;
  }
  &.conversation-date-badge span {
    text-transform: uppercase;
  }
}

#inbox {
  max-height: 500px;
  overflow: auto;
  border-radius: @radiusSmall;
  .new-message-badge {
    top: 10px;
    right: 10px;
  }
}

.messagePreviewEntry {
  cursor: pointer;
  &.unread {
    background-color: @bgColorUnread;
    border-color: @borderColorUnread;
  }
}

.message-tag-filter-group {
  .select2-selection {
    border-bottom-right-radius: @radiusNone;
  }
  .manage-tags-link {
    .semiBold;
    font-size: 0.8em;
    border: 1px solid #ededed;
    border-top: 0;
    border-bottom-left-radius: @radiusSmall;
    border-bottom-right-radius: @radiusSmall;
    padding: 2px 5px;
  }
}

.new-message-badge {
  position: absolute;
  right: 0;
  top: 0;
  padding: 3px 5px 4px !important;
}

.inbox-entry-title {
  .semiBold;
}

.field-replyform-message {
  margin: 0;
}

@media (max-width: @smallScreen) {
  #dropdown-messages {
    width: 300px !important;
  }
  .arrow {
    margin-left: -101px !important;
  }
  #inbox {
    max-height: none;
  }
  .mail-conversation-single-message {
    #inbox {
      max-height: 30vh;
    }
    .inbox-wrapper {
      display: none;
    }
  }
  .conversation-entry-content {
    pre {
      max-width: 245px;
      padding: 0;
    }
  }
}