.media-list li.new {
   background-color: #e9f9ff; 
}

#create-message-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
}

.conversation-entry-list {
    max-height:600px;
    overflow:auto;
}

.conversation-entry-list .media {
    padding-right:5px;
}

.mail-conversation-entry {
    margin-top: 0;
}

.placeholder {
    color: #77777A;
}

@media (max-width: 767px) {

    #dropdown-messages {
        width: 300px !important;
    }

    .arrow {
        margin-left: -101px !important;
    }
}

#conversation_view_root .ProseMirror {
    min-height: 100px !important;
}