.media-list li.new {
   background-color: #e9f9ff; 
}

#create-message-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
}

.conversation-entry-list {
    max-height:600px;
    overflow:auto;
}

.conversation-entry-list .media {
    padding-right:5px;
}

.mail-conversation-entry {
    margin-top: 0;
}

.mail-conversation-entry img {
    max-width:100%;
}

.placeholder {
    color: #77777A;
}

#dropdown-messages .dropdown-header {
    margin-bottom: 12px;
}

@media (max-width: 767px) {

    #dropdown-messages {
        width: 300px !important;
    }

    .arrow {
        margin-left: -101px !important;
    }
}

#createmessage-message .ProseMirror, #mail-conversation-root .ProseMirror, .mail-edit-message .ProseMirror {
    min-height: 100px !important;
}

#createmessage-message .ProseMirror-menubar, #mail-conversation-root .ProseMirror-menubar, .mail-edit-message .ProseMirror-menubar {
    margin-top: 0 !important;
}

#mail-conversation-root hr {
    border-top: 1px dashed #eee;
}